<div class="jumbotron">
  <form [formGroup]="loginForm">

    <h2>Login</h2>
    <!-- User Name  -->
    <div class="form-group"
      [ngClass]="{ 'has-error': !loginForm.get('username').valid && loginForm.get('username').dirty }">
      <input formControlName="username" id="form-user" type="text" placeholder="User Name" class="form-control"
        name="username">
      <div *ngIf="!loginForm.get('username').valid && loginForm.get('username').dirty" class="help-block">Username is
        required</div>
    </div>
    <!-- Password -->
    <div class="form-group"
      [ngClass]="{ 'has-error': !loginForm.get('password').valid && loginForm.get('password').dirty }">
      <input formControlName="password" id="form-pass" type="password" placeholder="Password" class="form-control"
        name="password">
      <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').dirty" class="help-block">Password is
        required</div>
    </div>
    <button [disabled]="loginForm.invalid" id="jumbotron.btn" class="btn btn-primary" (click)="login()">Log In</button>
    <a id="register-btn" style="margin-left:10px" [routerLink]="['/auth/register']">Register</a>

  </form>
</div>
