<div class="container" style="margin: 30px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>Upcoming matches</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">date</th>
              <th scope="col">team-1</th>
              <th scope="col">team-2</th>
              <th scope="col">toss winner team</th>
              <th scope="col">type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let match of upcomingMatches">
              <td>{{ matchService.utcToLocal(match.date, 'DD-MM-YYYY') }}</td>
              <td>{{ match.team1 }}</td>
              <td>{{ match.team2 }}</td>
              <td>{{ match.tossWinner ? match.tossWinner : ' -'}}</td>
              <td>{{ match.type }}</td>
            </tr>
            <tr>
          </tbody>
        </table>
        <!-- code for table ends -->
      </div>
    </div>
  </div>
</div>

<mat-spinner *ngIf="isLoading" style="margin:0 auto;"></mat-spinner>
<hr>


<div class="container" style="margin: 30px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>old matches</h1>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let match of oldMatches">
            {{ match.description }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
